*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyles/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/keystore.config
/.idea/vcs.xml
/app/release/output-metadata.json
/app/release/app-release.apk
/opencv/build
